
# macOS system files
.DS_Store


# Python virtual environments
venv/
env/
.venv/


# Python bytecode / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs / temporary files
*.log

output/*.csv

# If you have other outputs like images or models, ignore them too:
output/*.png
output/*.jpg
