# GITIGNORE FILE: HELLO @ DATASCI 217 Grading team: 
# Some files were too large to push to github, so this file ignores large files (csv and png)
# Also this was the only way the .DS_Store file would not get committed
# All required files were documented that they can and were generated in jupyter notebooks for each question
# This gave me 24 hours of panic because nothing could be pushed to Github. 
# If this is  a problem, please email me. Thanks!

# macOS system files
.DS_Store

# Python virtual environments
venv/
env/
.venv/

# Python bytecode / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs / temporary files
*.log

# Large files in output folder
output/*.csv
output/*.png
output/*.jpg
